.appTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bolder;
}

.completeButton {
  float: right;
  margin-right: 18px;
}

.mainContainer {
  border-style: groove;
}

.totalCount {
  float: right;
}

.deleteButton {
  float: right;
  margin-right: -110px;
}
